@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

.font-sora {
  font-family: "Sora", sans-serif;
}
.active{
    color: #9538E2;
    font-weight: bold;
    text-decoration: underline;
}